### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [71]:
# Dependencies and Setup
import os
import pandas as pd

#print(os.getcwd())
os.chdir("/Users/ashleygates/Pandas-Challenge/Heroes of Pymoli")

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [72]:
purchase_data.count

<bound method DataFrame.count of      Purchase ID             SN  Age  Gender  Item ID  \
0              0        Lisim78   20    Male      108
1              1    Lisovynya38   40    Male      143
2              2     Ithergue48   24    Male       92
3              3  Chamassasya86   24    Male      100
4              4      Iskosia90   23    Male      131
..           ...            ...  ...     ...      ...
775          775     Aethedru70   21  Female       60
776          776         Iral74   21    Male      164
777          777     Yathecal72   20    Male       67
778          778        Sisur91    7    Male       92
779          779      Ennrian78   24    Male       50

                                     Item Name  Price
0    Extraction, Quickblade Of Trembling Hands   3.53
1                            Frenzied Scimitar   1.56
2                                 Final Critic   4.88
3                                  Blindscythe   3.27
4                                         Fury   1.44
..                                         ...    ...
775                                       Wolf   3.54
776                           Exiled Doomblade   1.63
777      Celeste, Incarnation of the Corrupted   3.46
778                               Final Critic   4.19
779                                       Dawn   4.60

[780 rows x 7 columns]>

In [73]:
no_null_purchase_data = purchase_data.dropna(how='any')

In [74]:
no_null_purchase_data.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [75]:
#Count of unique items
unique_items = len(pd.unique(purchase_data['Item Name']))
print("No.of.unique values :", 
      unique_items)

No.of.unique values : 179

In [76]:
#Average purchase price
average_price=purchase_data["Price"].mean()
print(average_price)

3.050987179487176

In [77]:
#Total number of purchases
item_total = purchase_data["Item Name"].count()
print(item_total)

780

In [78]:
#Total sum of purchased items (Total Revenue)
item_sum = purchase_data["Price"].sum()
print(item_sum)

2379.77

In [79]:
#Print purchasing analysis data frame
summary_df = pd.DataFrame({"Number of Unique Items": [unique_items],
                           "Average Item Price": [average_price],
                           "Total Number of Items":[item_total],
                           "Total Revenue": [item_sum],
                           })

summary_df

,Number of Unique Items,Average Item Price,Total Number of Items,Total Revenue
0,179,3.050987,780,2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [80]:
sn_duplicate_df = purchase_data.drop_duplicates(subset=['SN'])
sn_duplicate_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02
774,774,Jiskjask80,11,Male,92,Final Critic,4.19
775,775,Aethedru70,21,Female,60,Wolf,3.54
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19

In [81]:
#Total of players by gender
gender_count = sn_duplicate_df['Gender'].value_counts().to_frame()
gender_count

                       Gender
Male                      484
Female                     81
Other / Non-Disclosed      11

In [82]:
#Player Gender Percentages
gender_percent = ((sn_duplicate_df.groupby('Gender').size()/sn_duplicate_df['Gender'].count())*100).to_frame()

gender_percent.round(2)

                           0
Gender
Female                 14.06
Male                   84.03
Other / Non-Disclosed   1.91

In [83]:
#Summary table
new_df = pd.concat([gender_count,gender_percent.round(2)], axis=1)
new_df.columns = ['Total Count', 'Percent']
new_df

                       Total Count  Percent
Male                           484    84.03
Female                          81    14.06
Other / Non-Disclosed           11     1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [84]:
#purchase count by gender
purchase_count_gender = purchase_data.groupby(['Gender']).size().reset_index(name='counts').count

purchase_count_gender

<bound method DataFrame.count of                   Gender  counts
0                 Female     113
1                   Male     652
2  Other / Non-Disclosed      15>

In [117]:
#average purchase price by gender
avg_gender = purchase_data.groupby(['Gender']).mean()
avg_gender.round(2)
new_avg_gender = avg_gender.drop(columns=['Purchase ID', 'Age', 'Item ID'])

new_avg_gender

                          Price
Gender
Female                 3.203009
Male                   3.017853
Other / Non-Disclosed  3.346000

In [116]:
#total purchase value by gender
sum_gender = purchase_data.groupby(['Gender']).sum()
sum_gender.round(2)
new_sum_gender = sum_gender.drop(columns=['Purchase ID', 'Age', 'Item ID'])

new_sum_gender

                         Price
Gender
Female                  361.94
Male                   1967.64
Other / Non-Disclosed    50.19

In [87]:
#average purchase amount per person
avg_purchase_gender = purchase_data.groupby('Gender', as_index=False).Price.mean()

new_avg_purchase_gender = avg_purchase_gender.round(2)

new_avg_purchase_gender

                  Gender  Price
0                 Female   3.20
1                   Male   3.02
2  Other / Non-Disclosed   3.35

In [118]:
#summary table
purchase_sum_gen_df_one = pd.concat([new_avg_gender, new_sum_gender], axis=1)
purchase_sum_gen_df_one.columns = ['Average', 'Total']
purchase_sum_gen_df_one

                        Average    Total
Gender
Female                 3.203009   361.94
Male                   3.017853  1967.64
Other / Non-Disclosed  3.346000    50.19

Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [ ]:
#establish bins for ages
print(purchase_data["Age"].max())
print(purchase_data["Age"].min())

In [ ]:
bins = [0, 10,20,30,40,50]
group_labels = ["0-9", "10-19", "20-29", "30-39", "40-49"]

In [93]:
#categorize players by ages using pd.cut
pd.cut(purchase_data["Age"], bins, labels=group_labels).head()

0    10-19
1    30-39
2    20-29
3    20-29
4    20-29
Name: Age, dtype: category
Categories (5, object): ['0-9' < '10-19' < '20-29' < '30-39' < '40-49']

In [94]:
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=group_labels)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,10-19
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,30-39
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-29
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-29
4,4,Iskosia90,23,Male,131,Fury,1.44,20-29

In [95]:
age_group = purchase_data.groupby("Age Group")
age_group_df = age_group["Age"].count().to_frame()
age_group_df

           Age
Age Group
0-9         32
10-19      254
20-29      402
30-39       85
40-49        7

In [96]:
age_percent_df= ((purchase_data.groupby('Age Group').size()/purchase_data['Age'].count())*100).to_frame()
age_percent_df.round(2)

               0
Age Group
0-9         4.10
10-19      32.56
20-29      51.54
30-39      10.90
40-49       0.90

In [97]:
#Summary

new_age_df = pd.concat([age_group_df,age_percent_df.round(2)], axis=1)
new_age_df.columns = ['Total Count', 'Percent']
new_age_df

           Total Count  Percent
Age Group
0-9                 32     4.10
10-19              254    32.56
20-29              402    51.54
30-39               85    10.90
40-49                7     0.90

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [98]:
bins = [0, 10,20,30,40,50]
group_labels = ["0-9", "10-19", "20-29", "30-39", "40-49"]

In [99]:
#categorize players by ages using pd.cut
pd.cut(purchase_data["Age"], bins, labels=group_labels).head()

0    10-19
1    30-39
2    20-29
3    20-29
4    20-29
Name: Age, dtype: category
Categories (5, object): ['0-9' < '10-19' < '20-29' < '30-39' < '40-49']

In [101]:
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=group_labels)
purchase_data.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,10-19
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,30-39
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-29
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-29
4,4,Iskosia90,23,Male,131,Fury,1.44,20-29
5,5,Yalae81,22,Male,81,Dreamkiss,3.61,20-29
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18,30-39
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67,10-19
8,8,Undjask33,22,Male,21,Souleater,1.10,20-29
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58,30-39

In [111]:
#purchase count
purchase_count_age = purchase_data.groupby(['Age Group']).size().reset_index(name='counts').count

purchase_count_age

<bound method DataFrame.count of   Age Group  counts
0       0-9      32
1     10-19     254
2     20-29     402
3     30-39      85
4     40-49       7>

In [113]:
#average purchase price
avg_pur_age = purchase_data.groupby(['Age Group']).mean()
avg_pur_age.round(2)
avg_pur_age = avg_pur_age.drop(columns=['Purchase ID', 'Age', 'Item ID'])

avg_pur_age

              Price
Age Group
0-9        3.405000
10-19      3.063622
20-29      2.992687
30-39      3.153647
40-49      3.075714

In [115]:
#total purchase sum

sum_age = purchase_data.groupby(['Age Group']).sum()
sum_age.round(2)
sum_age = sum_age.drop(columns=['Purchase ID', 'Age', 'Item ID'])

sum_age

             Price
Age Group
0-9         108.96
10-19       778.16
20-29      1203.06
30-39       268.06
40-49        21.53

In [121]:
#avg purchase per person

avg_purchase_age = purchase_data.groupby('Age Group', as_index=False).Price.mean()

new_avg_purchase_gender = avg_purchase_gender.round(2)

new_avg_purchase_gender

                  Gender  Price
0                 Female   3.20
1                   Male   3.02
2  Other / Non-Disclosed   3.35

In [125]:
#summary table
purchase_sum_age_df_one = pd.concat([avg_pur_age, sum_age], axis=1)
purchase_sum_gen_df_one.columns = ['Average', 'Sum']
purchase_sum_gen_df_one

                        Average      Sum
Gender
Female                 3.203009   361.94
Male                   3.017853  1967.64
Other / Non-Disclosed  3.346000    50.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame